body {
	background-image: url("images/patterngood.svg");
	background-color: white;
}
/*#header {
	background-color: rgba(245, 245, 245, 0.7);
	margin-top: 10px;
	padding-bottom: 15px;
}*/
#headerText {
		background-color: rgba(245, 245, 245, 0.7);

	margin-top:4.2rem;
	text-align: center;
	text-transform: uppercase;
	font-size:6rem;
	font-family: Assistant;
	color: #222;
	text-shadow:1px 1px white;
}

.controllerImages {
	max-width:175px;
	max-height:175px;
}
#ps4 {
	float:left;
}
#xbox {
	float:right;
}

#mainContentDiv {
	padding:25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(245, 245, 245, 0.75);
}
#mainContentDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

#infoText {
	padding-right:1.5em;
}
@media (min-width: 991px) {
	#infoText {
			border-right: 1px solid rgba(2,2,2,0.3);
	}
}
#infoText h4 {
	font-size: 1.5em;
	font-family: Assistant;
	padding: 0.5em;
}

#signUpForm {
	margin-right:1.5em;
}
#signUpForm p {
	font-size: 1.3em;
	padding:10px;
	margin-top: 10px;
}
.textInputs {
	font-size: 1.3em;
	padding: 0.8em;
	margin: 0.5em;
	width:100%;
}
.submitButton {
	margin-top: 10px;
	margin-left: 5px;
}